@model ParseTheParcel.Models.Package

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parse The Parcel</h1>
    <p class="lead">Find out how much will it cost to deliver your parcel using our services.</p>
</div>


<h2>Calculate Cost of Delivery</h2>

@using (Ajax.BeginForm("Result", "Package",
                            new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "divCostDetails" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div id="divCostDetails"></div>

        @Html.Partial("_PackageLength")

        <div class="editor-label">
            @Html.LabelFor(model => model.Breath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Breath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
        </div>
        <p>
            <input type="submit" value="Calculate"/>
        </p>
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




